{% extends 'base.html' %}

{% block title %}Rooms{% endblock title %}

{% block roomactive %}active{% endblock roomactive %}

{% block body %}

<div class="container d-flex flex-column justify-content-center align-items-center mb-5">

  <h1 class="text-warning text-center my-5 align-right">Study Rooms</h1>
  <div class="row ">
    <h2 class="text-white">Ready Made Rooms</h2>
    <div class="col-sm-4">
      <div class="card mt-2 bg-warning">
        <div class="card-body">
          <h5 class="card-title">Padhai Moment</h5>
          <p class="card-text">No admin needed. Auto starting sessions of 30 minutes with a break of 10 minutes. chat is enabled during the break only.<br><strong>Under Development</strong></p>
          <a href="rooms/padhai-moment" class="btn btn-success">Enter</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card mt-2 bg-warning">
        <div class="card-body">
          <h5 class="card-title">Coding Shoding</h5>
          <p class="card-text">Admin needed to start and set duration of the session. chat is enabled only when session isn't started.<br><strong>Under Development</strong></p>
          <a href="rooms/coding-shoding" class="btn btn-success">Enter</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card mt-2 bg-warning">
        <div class="card-body">
          <h5 class="card-title">Chamber of Secrets</h5>
          <p class="card-text">Admins only room. chat is enabled during the session also. emojis also enabled in the chat.<br><strong>Under Development</strong></p>
          {% if request.user.room_admin %}
          <a href="rooms/chamber-of-secrets" class="btn btn-success">Enter</a>
          {% else %}
          <a href="store" class="btn btn-success">Purchase Room Admin</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>


  <div class="row mt-3">
    <div class="col-12" >
      <div class="d-flex justify-content-center align-items-center">
        <h1 class="display-6 text-warning mt-5">Custom Rooms Comming Soon</h1>
    </div>
    </div>
  </div>

</div>

{% endblock body %}