{% extends 'base.html' %}

{% block title %}Room - {{room_name}}{% endblock title %}

{% block roomactive %}active{% endblock roomactive %}

{% block body %}
<style>
#chat-message-input:focus {
    box-shadow: 0 1px 1px #ffc107 inset, 0 0 8px #ffc107;
    outline: 0 none;
    border-color: #ffc107;
  }
</style>

<div class="container">
<h1 class="text-warning text-center mt-5 mb-3 align-right">Room - {{room_name}}</h1>
<h6 id="error" class="text-warning text-center mb-2"></h6>
<div>
<div id="chat-log" class="mb-2 p-2" style="color: black; height: calc(100vh - 225px); overflow-y: auto; scroll-behavior: smooth;"></div>
    
<div class="input-group">
  <input type="text/emoji" class="form-control" id="chat-message-input" placeholder="Message @ {{room_name}}">
  <button class="btn btn-warning" id="chat-message-submit" value="Send" type="button">Send</button>
</div>
</div>
    {{ room_name|json_script:"room-name" }}
    <span id="cuser" class="d-none">{{request.user.discord_tag}}</span>
</div>

    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').innerHTML += (data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            var message = messageInputDom.value;
            cuser = document.getElementById('cuser').textContent
            if (message.length < 2 || message.length > 30){
                document.getElementById('error').classList.remove('d-none')
                return null
            }
            document.getElementById('error').classList.add('d-none')
            message = `<div class="bg-warning my-2 p-2 rounded" style="display: inline-block; font-size: 20px;">
            <div style="display: flex; flex-direction: row; align-items: center;">
            {% if request.user.avatar %}
            <img src='https://cdn.discordapp.com/avatars/{{loginuser.id}}/{{loginuser.avatar}}.png' width="20px" style="border-radius: 50%;">
            {% else %}
            <img src="https://discord.com/assets/1cbd08c76f8af6dddce02c5138971129.png" width="20px" style="border-radius: 50%;">
            {% endif %}
            <strong class="text-success mx-2" style="font-size: 16px">` + cuser + "</strong></div>" + message + "</div><br>"
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
            var textarea = document.getElementById('chat-log')
            if(textarea.selectionStart == textarea.selectionEnd) {
                textarea.scrollTop = textarea.scrollHeight;
            }
        };
        
</script>
{% endblock body %}