{% extends 'base.html' %}
{% load static %}
{% block title %}Room - {{room_name}}{% endblock title %}

{% block roomactive %}active{% endblock roomactive %}

{% block body %}
<link rel="stylesheet" href="{% static 'rooms/room.css' %}">

<div class="container">
<h1 class="text-black text-center mt-5 mb-3 align-right">Room - {{room_name}}</h1>
<h6 id="error" class="text-danger text-center mb-2"></h6>
<div>
<div id="chat-log" class="mb-2 p-2" style="color: black; height: calc(100vh - 225px); overflow-y: auto; scroll-behavior: smooth;"></div>

<div class="input-group">
  <input type="text/emoji" class="form-control" id="chat-message-input" placeholder="Message @ {{room_name}}">
  <button class="btn btn-primary" id="chat-message-submit" value="Send" type="button">Send</button>
</div>
</div>
{{room_group_name}}
    {{ room_name|json_script:"room-name" }}
    <span id="cuser" class="d-none">{{request.user.discord_tag}}</span>
    <span id="cuserid" class="d-none">{{request.user.id}}</span>
    <span id="cuseravatar" class="d-none">{{request.user.avatar}}</span>
</div>

    <script src="{% static 'rooms/room.js' %}"></script>
{% endblock body %}