{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block homeactive %}active{% endblock homeactive %}

{% block style %}
<link rel="stylesheet" href="{% static 'main/style.css' %}">
{% endblock style %}


{% block body %}


    {% if request.user.is_anonymous %}
<div class="container mt-4 mt-lg-0">
      <div class="row mx-0 justify-content-center align-items-center" style="min-height: 90vh;">
        <div class="col-12 col-lg-8 text-center text-lg-start">
          <h2><strong>Plant trees on BlueForest to</strong></h2>
          <h2>
            <strong
               class="txt-rotate"
               data-period="2000"
               data-rotate='[ "Remove distractions", "Focus and concentrate", "Increase productivity", "Win rewards" ]'></strong>
          </h2>
          <h2 class="mb-4"><strong>And bring the best out of you</strong></h2>
          <a href="{% url 'discord_login' %}" class="btn btn-lg btn_primary px-5 mb-3">Get Started</a>
          <p class="mb-0"><small>Unable to Login? <a href="https://bluelearn.in/discord" class="text_primary"><strong>Join our Discord server</strong></small></a></p>
        </div>
        <div class="col-8 col-lg-4">
          <img src="{% static 'landing_hero.png' %}" alt="" class="w-100">
        </div>
      </div>
    </div>
    {% else %}
<!-- Main Timer -->

  
<div class="d-flex justify-content-center align-items-center flex-column"
    style="height: calc(100vh - 90px);">

    <form action="/" method="post" name="getrange">
        {% csrf_token %}
        <label for="range" style="color:transparent; font-size:1px;">Range</label><br>
        <input type="range" value=1 onclick="checkr()" onchange="checkr()" id="range" style="width: 300px !important;"
            name="range" class="form-range" width="200px" min="1" max="6">
        <input type="hidden" name="hidden" id="hidden" value=0>
    </form>


    <div>
        <div class="text-center text-black my-2 h6" id="coinsinfo">
            <div class="pb-2">
                <strong>
                    Success:
                    <i class="fas fa-dollar-sign text-warning"></i>
                    25 Coins & 
                    <i class="fas fa-tree text-success"></i>
                    1 Tree
                </strong>
            </div>
            <div class="pt-2">
                <strong>
                    Failure:
                    <i class="fas fa-dollar-sign text-warning"></i>
                    -25 Coins & 
                    <i class="fas fa-tree text-danger"></i>
                    1 DeadTree
                </strong>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center align-items-center my-3" id="timer">
        {% if request.user.in_session %}
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        {% else %}
        <h4 id="minutes" class="display-5 text-black">30</h4>
        <h4 id="separator" class="display-5 text-black px-1">:</h4>
        <h4 id="seconds" class="display-5 text-black">00</h4>
        {% endif %}
    </div>

    
    <button class="btn btn-primary mt-3 align-middle" id="startbtn" onclick="document.getrange.submit()">
        Start
    </button>
    <button class="btn btn-primary d-none mt-3" data-bs-toggle="modal" data-bs-target="#diedtreemodal" id="giveupbtn">
        Giveup
    </button>
    <button class="btn btn-secondary d-none mt-3" onclick="canceltimer()" id="cancelbtn">
        Cancel
    </button>
</div>


    {% endif %}



<!-- Modal -->
<div class="modal fade" id="diedtreemodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="diedtreemodalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="diedtreemodalLabel">Your Tree(s) Will Die</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" onclick="giveup()">Ok</button>
            </div>
        </div>
    </div>
</div>




<button class="btn btn-warning d-none mt-2" data-bs-toggle="modal" data-bs-target="#treemodal" id="treemodalbtn">
</button>
<div class="modal fade" id="treemodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="treemodalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="treemodalLabel">Wow! You planted Tree(s)</h5>
            </div>
            <div class="modal-body">
                Press 'Ok' to continue
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="treemodalsubmit" onclick="document.getrange.submit()">Ok</button>
            </div>
        </div>
    </div>
</div>


{% if request.user.in_session %}
<div id="session_end" class="d-none">{{request.user.session_end_time|date:"M d, Y H:i:s"}}</div>
<div id="session_duration" class="d-none">{{request.user.session_end}}</div>
{% endif %}

{% endblock body %}



{% block script %}

<script src="{% static 'main/script.js' %}"></script>

{% if request.user.in_session %}
<script src="{% static 'main/timer.js' %}"></script>
{% endif %}

{% endblock script %}