{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block homeactive %}active{% endblock homeactive %}

{% block style %}
<link rel="stylesheet" href="{% static 'main/style.css' %}">
{% endblock style %}


{% block body %}


<!-- Main Timer -->
<div class="container px-5 d-flex justify-content-center align-items-center flex-column"
  style="height: calc(100vh - 60px);">

  <form action="/" method="post" name="getrange">
    {% csrf_token %}
    <input type="range" value=1 onclick="checkr()" onchange="checkr()" id="range" style="width: 300px !important;"
      name="range" class="form-range" width="200px" min="1" max="6">
    <input type="hidden" name="hidden" id="hidden" value=0>
  </form>


  <div>
    <div class="text-center text-black my-2 h6" id="treesinfo">Plants 1 tree if you fail, you kill 1 tree</div>
    <div class="text-center text-black my-2 h6" id="coinsinfo">
      <div>Success: +25 coins</div>
      <div>Failure: -20 coins</div>
    </div>
  </div>

  <div class="d-flex justify-content-center align-items-center my-3" id="timer">
    {% if loginuser.in_session %}
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    {% else %}
    <h4 id="minutes" class="display-4 text-black">30</h4>
    <h4 id="separator" class="display-4 text-black">:</h4>
    <h4 id="seconds" class="display-4 text-black">00</h4>
    {% endif %}
  </div>

  {% comment %} <strong class="text-warning text-center h6">Deep Focus Mode Will be Back Soon</strong> {% endcomment %}
  {% if request.user.slowmode %}
  <strong class="text-black text-center h6">You are on slowmode. You will get no trees and 10 coins every 30 minutes</strong>
{% endif %}
  {% if loginuser %}
  <button class="btn btn-primary mt-3" id="startbtn" onclick="document.getrange.submit()">
    start
  </button>
  <button class="btn btn-primary d-none mt-3" data-bs-toggle="modal" data-bs-target="#diedtreemodal" id="giveupbtn">
    Giveup
  </button>
  <button class="btn btn-secondary d-none mt-3" onclick="canceltimer()" id="cancelbtn">
    Cancel
  </button>
  {% else %}
  <strong class="text-black text-center">Please Login to continue<br>Only <a href="https://bluelearn.in">bluelearn</a> members can login</strong>
  {% endif %}
</div>



<!-- Modal -->
<div class="modal fade" id="diedtreemodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="diedtreemodalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="diedtreemodalLabel">Your Tree(s) Will Die</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button class="btn btn-primary" onclick="giveup()">Ok</button>
      </div>
    </div>
  </div>
</div>




<button class="btn btn-warning d-none mt-2" data-bs-toggle="modal" data-bs-target="#treemodal" id="treemodalbtn">
</button>
<div class="modal fade" id="treemodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="treemodalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="treemodalLabel">Wow! You planted Tree(s)</h5>
      </div>
      <div class="modal-body">
        If you are using deep focus mode then press 'enter'
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" id="treemodalsubmit" onclick="document.getrange.submit()">Ok</button>
      </div>
    </div>
  </div>
</div>


{% if loginuser.in_session %}
<div id="session_end" class="d-none">{{loginuser.session_end_time|date:"M d, Y H:i:s"}}</div>
<div id="session_duration" class="d-none">{{loginuser.session_end}}</div>
{% endif %}

{% endblock body %}



{% block script %}

<script src="{% static 'main/script.js' %}"></script>

{% if loginuser.in_session %}
<script src="{% static 'main/timer.js' %}"></script>
{% endif %}

{% endblock script %}