{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block homeactive %}active{% endblock homeactive %}

{% block style %}
<style>
  .show_message {
    display: block;
  }

  #timer {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid #ffc107;
  }

  input[type="range"]::-ms-thumb {
    background: #ffc107 !important;
  }

  input[type="range"]::-moz-range-thumb {
    background: #ffc107 !important;
  }

  input[type="range"]::-webkit-slider-thumb {
    background: #ffc107 !important;
  }

  .white-text-timer {
    color: #fff !important;
  }

  @media only screen and (max-width: 414px) {
    #demotime {
      font-size: 14px;
    }
  }

  @media only screen and (max-width: 375px) {
    #demotime {
      font-size: 12px;
    }
  }
</style>
{% endblock style %}



{% block body %}


<!-- Main Timer -->
<div class="container px-5 d-flex justify-content-center align-items-center flex-column"
  style="height: calc(100vh - 60px);">



  <form action="/" method="post" name="getrange">
    {% csrf_token %}
    <input type="range" value=1 onclick="checkr()" onchange="checkr()" id="range" style="width: 300px !important;"
      name="range" class="form-range" width="200px" min="1" max="6">
    <input type="hidden" name="hidden" id="hidden" value=0>
  </form>


  <div>
    <div class="text-center text-warning my-2 h6" id="treesinfo">Plants 1 tree if you fail, you kill 1 tree</div>
    <div class="text-center text-warning my-2 h6" id="coinsinfo">
      <div>Success: +25 coins</div>
      <div>Failure: -20 coins</div>
    </div>
  </div>

  <div class="d-flex justify-content-center align-items-center my-3" id="timer">
    {% if loginuser.in_session %}
    <div class="spinner-border text-warning" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    {% else %}
    <h4 id="minutes" class="display-4 text-warning">30</h4>
    <h4 id="separator" class="display-4 text-warning">:</h4>
    <h4 id="seconds" class="display-4 text-warning">00</h4>
    {% endif %}
  </div>

  <strong class="text-warning text-center h6">Deep Focus Mode Will be Back Soon</strong>
  {% if request.user.slowmode %}
  <strong class="text-white text-center h6">You are on slowmode. You will get no trees and 10 coins every 30 minutes</strong>
{% endif %}
  {% if loginuser %}
  <button class="btn btn-warning mt-3" id="startbtn" onclick="document.getrange.submit()">
    start
  </button>
  <button class="btn btn-warning d-none mt-3" data-bs-toggle="modal" data-bs-target="#diedtreemodal" id="giveupbtn">
    Giveup
  </button>
  <button class="btn btn-secondary d-none mt-3" onclick="canceltimer()" id="cancelbtn">
    Cancel
  </button>
  {% else %}
  <strong class="text-white text-center">Please Login to continue<br>Only Clinify Squad members can login</strong>
  {% endif %}
</div>



<!-- Modal -->
<div class="modal fade" id="diedtreemodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="diedtreemodalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="diedtreemodalLabel">Your Tree(s) Will Die</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button class="btn btn-success" onclick="giveup()">Ok</button>
      </div>
    </div>
  </div>
</div>




<button class="btn btn-warning d-none mt-2" data-bs-toggle="modal" data-bs-target="#treemodal" id="treemodalbtn">
</button>
<div class="modal fade" id="treemodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="treemodalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="treemodalLabel">Wow! You planted Tree(s)</h5>
      </div>
      <div class="modal-body">
        If you are using deep focus mode then press 'enter'
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" id="treemodalsubmit" onclick="document.getrange.submit()">Ok</button>
      </div>
    </div>
  </div>
</div>


{% if loginuser.in_session %}
<div id="session_end" class="d-none">{{loginuser.session_end_time|date:"M d, Y H:i:s"}}</div>
<div id="session_duration" class="d-none">{{loginuser.session_end}}</div>
{% endif %}

{% endblock body %}



{% block script %}



<script>


  session_minutes = 30;
  session_seconds = "00";
  function checkr() {
    val = document.getElementById('range').value
    if (val == 1) {
      session_minutes = 30;
      session_seconds = "00";
      document.getElementById('minutes').innerHTML = session_minutes
      document.getElementById('treesinfo').innerHTML = "Plants 1 tree if you fail you kill 1 tree"
      document.getElementById('coinsinfo').innerHTML = `<div>Success: +25 coins</div><div>Failure: -20 coins</div>`
    }
    else if (val == 2) {
      session_minutes = 60;
      session_seconds = "00";
      document.getElementById('minutes').innerHTML = session_minutes
      document.getElementById('treesinfo').innerHTML = "Plants 2 trees if you fail you kill 2 trees"
      document.getElementById('coinsinfo').innerHTML = `<div>Success: +50 coins</div><div>Failure: -40 coins</div>`
    }
    else if (val == 3) {
      session_minutes = 90;
      session_seconds = "00";
      document.getElementById('minutes').innerHTML = session_minutes
      document.getElementById('treesinfo').innerHTML = "Plants 3 trees if you fail you kill 3 trees"
      document.getElementById('coinsinfo').innerHTML = `<div>Success: +75 coins</div><div>Failure: -60 coins</div>`
    }
    else if (val == 4) {
      session_minutes = 120;
      session_seconds = "00";
      document.getElementById('minutes').innerHTML = session_minutes
      document.getElementById('treesinfo').innerHTML = "Plants 4 trees if you fail you kill 4 trees"
      document.getElementById('coinsinfo').innerHTML = `<div>Success: +100 coins</div><div>Failure: -80 coins</div>`
    }
    else if (val == 5) {
      session_minutes = 150;
      session_seconds = "00";
      document.getElementById('minutes').innerHTML = session_minutes
      document.getElementById('treesinfo').innerHTML = "Plants 5 trees if you fail you kill 5 trees"
      document.getElementById('coinsinfo').innerHTML = `<div>Success: +125 coins</div><div>Failure: -100 coins</div>`
    }
    else {
      session_minutes = 180;
      session_seconds = "00";
      document.getElementById('minutes').innerHTML = session_minutes
      document.getElementById('treesinfo').innerHTML = "Plants 6 trees if you fail you kill 6 trees"
      document.getElementById('coinsinfo').innerHTML = `<div>Success: +150 coins</div><div>Failure: -120 coins</div>`
    }
  }

function giveup() {
    document.getElementById('hidden').value = -1
    document.getrange.submit()
}
function canceltimer() {
    val = document.getElementById('hidden').value = 1
    console.log(val)
    document.getrange.submit()
}
{% if loginuser.in_session %}
duration = (document.getElementById('session_duration').textContent)
document.getElementById('Mynavbar').classList.add('d-none')
document.getElementById('range').classList.add('d-none')
document.getElementById('startbtn').classList.add('disabled')


let mysession = setInterval(() => {
    if (duration == '0:30:00') {
        document.getElementById('range').value = 1
        document.getElementById('treesinfo').innerHTML = "Plants 1 tree if you fail you kill 1 tree"
      document.getElementById('coinsinfo').innerHTML = `<div>Success: +25 coins</div><div>Failure: -20 coins</div>`
    }
    else if (duration == '1:00:00') {
        document.getElementById('range').value = 2
        document.getElementById('treesinfo').innerHTML = "Plants 2 trees if you fail you kill 2 trees"
      document.getElementById('coinsinfo').innerHTML = `<div>Success: +50 coins</div><div>Failure: -40 coins</div>`
    }
    else if (duration == '1:30:00') {
        document.getElementById('range').value = 3
        document.getElementById('treesinfo').innerHTML = "Plants 3 trees if you fail you kill 3 trees"
      document.getElementById('coinsinfo').innerHTML = `<div>Success: +75 coins</div><div>Failure: -60 coins</div>`
    }
    else if (duration == '2:00:00') {
        document.getElementById('range').value = 4
        document.getElementById('treesinfo').innerHTML = "Plants 4 trees if you fail you kill 4 trees"
      document.getElementById('coinsinfo').innerHTML = `<div>Success: +100 coins</div><div>Failure: -80 coins</div>`
    }
    else if (duration == '2:30:00') {
        document.getElementById('range').value = 5
      document.getElementById('treesinfo').innerHTML = "Plants 5 trees if you fail you kill 5 trees"
      document.getElementById('coinsinfo').innerHTML = `<div>Success: +125 coins</div><div>Failure: -100 coins</div>`
    }
    else if (duration == '3:00:00') {
        document.getElementById('range').value = 6
        document.getElementById('treesinfo').innerHTML = "Plants 6 trees if you fail you kill 6 trees"
      document.getElementById('coinsinfo').innerHTML = `<div>Success: +150 coins</div><div>Failure: -120 coins</div>`
    }
    else{
      document.getElementById('range').value = 1
      document.getElementById('treesinfo').innerHTML = "Plants 1 tree if you fail you kill a tree"
      document.getElementById('coinsinfo').innerHTML = `<div>Success: +25 coins</div><div>Failure: -20 coins</div>`
    }

    session_end = document.getElementById('session_end').textContent
    server_begin_to_session_end = Date.parse(session_end)

    const server_begin_to_now = new Date().getTime()

    let diff = server_begin_to_session_end - server_begin_to_now

    const m = Math.floor((server_begin_to_session_end / (1000 * 60)) - (server_begin_to_now / (1000 * 60)))
    const s = Math.floor(((server_begin_to_session_end / (1000)) - (server_begin_to_now / (1000))) % 60)
    session_minutes = m
    session_seconds = s
    document.getElementById('timer').innerHTML = `
    <h4 id="minutes" class="display-4 text-warning">30</h4>
    <h4 id="separator" class="display-4 text-warning">:</h4>
    <h4 id="seconds" class="display-4 text-warning">00</h4>
    `
    document.getElementById('startbtn').classList.add('d-none')
    document.getElementById('cancelbtn').classList.remove('d-none')
    if (duration == '0:30:00' && ((server_begin_to_session_end - server_begin_to_now) < ((1 * 1800000) - 10000))) {
        document.getElementById('giveupbtn').classList.remove('d-none')
        document.getElementById('cancelbtn').classList.add('d-none')
    }
    else if (duration == '1:00:00' && server_begin_to_session_end - server_begin_to_now < (2 * 1800000) - 10000) {
        document.getElementById('giveupbtn').classList.remove('d-none')
        document.getElementById('cancelbtn').classList.add('d-none')
    }
    else if (duration == '1:30:00' && server_begin_to_session_end - server_begin_to_now < (3 * 1800000) - 10000) {
        document.getElementById('giveupbtn').classList.remove('d-none')
        document.getElementById('cancelbtn').classList.add('d-none')
    }
    else if (duration == '2:00:00' && server_begin_to_session_end - server_begin_to_now < (4 * 1800000) - 10000) {
        document.getElementById('giveupbtn').classList.remove('d-none')
        document.getElementById('cancelbtn').classList.add('d-none')
    }
    else if (duration == '2:30:00' && server_begin_to_session_end - server_begin_to_now < (5 * 1800000) - 10000) {
        document.getElementById('giveupbtn').classList.remove('d-none')
        document.getElementById('cancelbtn').classList.add('d-none')
    }
    else if (duration == '3:00:00' && server_begin_to_session_end - server_begin_to_now < (6 * 1800000) - 10000) {
        document.getElementById('giveupbtn').classList.remove('d-none')
        document.getElementById('cancelbtn').classList.add('d-none')
    }
    else {
        document.getElementById('cancelbtn').classList.remove('d-none')
    }
    if (session_seconds % 2 == 0) {
        document.getElementById('minutes').classList.add('white-text-timer')
        document.getElementById('seconds').classList.add('white-text-timer')
        document.getElementById('separator').classList.add('white-text-timer')
    }
    else {
        document.getElementById('minutes').classList.remove('white-text-timer')
        document.getElementById('seconds').classList.remove('white-text-timer')
        document.getElementById('separator').classList.remove('white-text-timer')
    }
    if (diff <= 0) {
        clearInterval(mysession)
        document.getElementById("seconds").innerHTML = "00"
        document.getElementById("minutes").innerHTML = "00"
        document.getElementById('hidden').value = 0
        link = 'https://ccnet.in/abhinav/test/wp-content/uploads/2021/04/y2mate.com-BELLS-b15-Sound-Effect-AudioTrimmer.com-3.mp3'
        new Audio(link).play()
        document.getElementById('treemodalbtn').click()
        setTimeout(function () { document.getrange.submit() }, 5000);
    }
    else {
        if (session_seconds < 10) {
            document.getElementById("seconds").innerHTML = "0" + session_seconds;
        }
        else {
            document.getElementById("seconds").innerHTML = session_seconds;
        }
        if (session_minutes < 10) {
            document.getElementById("minutes").innerHTML = "0" + session_minutes;
        }
        else {
            document.getElementById("minutes").innerHTML = session_minutes;
        }
    }

}, 1000)
{% endif %}
</script>
{% endblock script %}