{% extends 'base.html' %}
{% block title %}Leader Board{% endblock title %}
{% block lbactive %}active{% endblock lbactive %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'main/style.css' %}">
{% endblock style %}

{% block body %}
    <div class="container my-5">
      <div class="row mx-0">
        <div class="col-12 my-2">
          <h2 class="text-center"><strong>LeaderBoard</strong></h2>
        </div>
        <div class="col-12 col-lg-10  mb-3 offset-lg-1 text-center">
          <p class="mb-4">
            <small><i class="fas fa-circle ms-2 text-success"></i></small>
            Planting tree
            <small><i class="fas fa-circle ms-2 text-danger"></i></small>
            Idle
          </p>
        </div>
        {% for user in users %}
        {% if user.trees > 0 or user.deadtrees > 0 or user.coins > 0 %}
        <div class="col-12 col-lg-10 offset-lg-1 bg-white card py-3 mb-2 lb_card position-relative">
          <div class="row mx-0 align-items-center">
            <div class="col-12 col-lg-6 mb-3 mb-md-0 text-center text-lg-start">
              <!-- rank -->
              <h5 class="mb-0 me-1 lb_username d-inline align-middle">{{forloop.counter}}</h5>
              <!-- pfp with status badge -->
              <div class="d-inline position-relative">
                {% if user.avatar %}
                    <img class="pfp_img rounded-circle" src="https://cdn.discordapp.com/avatars/{{user.id}}/{{user.avatar}}.png"
                        onerror="this.onerror=null;this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5HUdSftvG85fuI66IATbkxbD-cH7NrfGP7p-qX8tUJjgezF6iVjAvWcb5WO7gzCWVeNk&usqp=CAU';"
                        />
                    {% else %}
                    <img class="pfp_img rounded-circle"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5HUdSftvG85fuI66IATbkxbD-cH7NrfGP7p-qX8tUJjgezF6iVjAvWcb5WO7gzCWVeNk&usqp=CAU"
                         />
                    {% endif %}
                    {% if user.in_session %}
                <span class="badge-size position-absolute translate-middle bg-success border border-2 border-white rounded-circle status"></span>
                {% else %}
                <span class="badge-size position-absolute translate-middle bg-danger border border-2 border-white rounded-circle status"></span>
                {% endif %}
              </div>
              <!-- username -->
              <h5 class="mb-0 lb_username d-inline align-middle px-2">{{user.discord_tag|slice:":-5"}} <span class="text-secondary">{{user.discord_tag|slice:"-5:"}}</span></h5>
            </div>
            <div class="col-4 col-lg-2">
              <i class="fas fa-tree text-success"></i>
              <strong>{{user.trees}} </strong>
              <small class="text-secondary d-none d-md-inline">Planted</small>
            </div>
            <div class="col-4 col-lg-2 text-center text-lg-start">
              <i class="fas fa-tree text-danger"></i>
              <strong>{{user.deadtrees}} </strong>
              <small class="text-secondary d-none d-md-inline">Killed</small>
            </div>
            <div class="col-4 col-lg-2 text-end">
              <i class="fas fa-dollar-sign text-warning"></i>
              <strong>{{user.coins}} </strong>
              <small class="text-secondary d-none d-md-inline">Coins</small>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}     
      </div>
    </div>
{% endblock body %}