{% extends 'base.html' %}

{% block title %}Leader Board{% endblock title %}

{% block lbactive %}active{% endblock lbactive %}

{% block body %}
<div class="container mb-5">
    <h1 class="text-warning text-center my-5">Leader Board</h1>
    {% for user in users %}
    <div class="card text-dark bg-warning my-3">
        <div class="card-header">
            <strong class="display-4">#{{forloop.counter}}</strong> <strong>{{user.discord_tag}}</strong><br>
            <span class="badge bg-dark">Study Buddies</span>
            {% if user.room_access %}<span class="badge bg-danger">Room Access</span>{% endif %}
            {% if user.room_admin %}<span class="badge bg-secondary">Room Admin</span>{% endif %}
            {% if user.slowmode %}<span class="badge bg-primary">Slowmode Enabled</span>{% endif %}
            <span class="badge bg-success mt-1">Level {{user.level}}</span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2 d-flex align-items-center justify-content-center">
                    {% if user.avatar %}
                    <img src="https://cdn.discordapp.com/avatars/{{user.id}}/{{user.avatar}}.png"
                        style="border-radius: 50%;">{% else %}<img
                        src="https://discord.com/assets/1cbd08c76f8af6dddce02c5138971129.png"
                        style="border-radius: 50%;" width="128px">{% endif %}
                </div>
                <div class="col-md-10 mt-3 mt-md-0">
                    <ul class="list-group">
                        <li class="list-group-item bg-warning"><strong>{{user.discord_tag}}</strong> has grown
                            <strong>{{user.trees}}</strong> trees
                        </li>
                        <li class="list-group-item bg-warning"><strong>{{user.discord_tag}}</strong> has killed
                            <strong>{{user.deadtrees}}</strong> trees
                        </li>
                        <li class="list-group-item bg-warning"><strong>{{user.discord_tag}}</strong> has earned
                            <strong>{{user.coins}}</strong> coins
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock body %}

