{% extends 'base.html' %}
{% load static %}
{% block title %}Store{% endblock title %}

{% block stactive %}active{% endblock stactive %}

{% block style %}

<link rel="stylesheet" href="{% static 'main/style.css' %}">

{% endblock style %}

{% block body %}

<div class="container">
    <h1 class="text-warning text-center mt-5">Store</h1>
    <div class="row my-5">
        <h2 class="text-white">One Time Purchase</h2>
        {% for storeitem in store %}
        {% if storeitem.category == 1 %}
        <div class="card border-success bg-warning m-3" id="card">
            <div class="card-header h3 border-success">{{storeitem.item_name}}</div>
            <div class="card-body text-success">
                <h5 class="card-title fw-bold">for {{storeitem.item_price}} coins</h5>
                <p class="card-text text-dark">{{storeitem.item_desc}}</p>
            </div>
            <div class="card-footer bg-transparent border-success">
                {% if storeitem.item_name == 'Room Access' %}
                    {% if request.user.room_access %}
                        You already Own this item
                    {% else %}
                            {% if request.user.coins >= storeitem.item_price %}
                        <form action="/store" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="hidden" value="{{storeitem.item_name}}">
                            <button class="btn btn-success" type="submit">Buy Now</button>
                        </form>
                            {% else %}
                                <a class="btn btn-success" href="/">Earn More</a>
                            {% endif %}
                    {% endif %}
                {% else %}
                    {% if request.user.room_admin %}
                        You already Own this item
                    {% else %}
                            {% if request.user.coins >= storeitem.item_price %}
                        <form action="/store" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="hidden" value="{{storeitem.item_name}}">
                            <button class="btn btn-success" type="submit">Buy Now</button>
                        </form>
                            {% else %}
                            <a class="btn btn-success" href="/">Earn More</a>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="row my-5">
        <h2 class="text-white">Just Buy</h2>
        {% for storeitem in store %}
        {% if storeitem.category == 0 %}
        <div class="card border-success bg-warning m-3" id="card">
            <div class="card-header h3 border-success">{{storeitem.item_name}}</div>
            <div class="card-body text-success">
                <h5 class="card-title fw-bold">for {{storeitem.item_price}} coins</h5>
                <p class="card-text text-dark">{{storeitem.item_desc}}</p>
            </div>
            <div class="card-footer bg-transparent border-success">
            {% if storeitem.item_name == 'Water Your Trees' %}
                {% if request.user.deadtrees > 0 %}
                    {% if request.user.coins >= storeitem.item_price %}
                    <form action="/store" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="hidden" value="{{storeitem.item_name}}">
                    <button class="btn btn-success" type="submit">Buy Now</button>
                </form>
                    {% else %}
                        <a class="btn btn-success" href="/">Earn More</a>
                    {% endif %}
                {% else %}
                You have no dead trees
                {% endif %}
            {% else %}
                {% if request.user.coins >= storeitem.item_price %}
                    <a class="btn btn-success" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Buy Now</a>
                {% else %}
                    <a class="btn btn-success" href="/">Earn More</a>
                {% endif %}
            {% endif %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>


{% endblock body %}