{% extends 'base.html' %}
{% load static %}
{% block title %}Store{% endblock title %}

{% block stactive %}active{% endblock stactive %}

{% block style %}

<link rel="stylesheet" href="{% static 'main/style.css' %}">

{% endblock style %}

{% block body %}

<div class="container my-5">
      <div class="row mx-0 mb-4">
        <div class="col-12">
          <h2 class="text-center mb-3"><strong>Store</strong></h2>
          <h5 class="text-center"><strong><span class="text_primary">Balance</span> : {{request.user.coins|default:0}} Coins</strong></h5>
        </div>
      </div>
    <div class="row mx-0 justify-content-center">
        {% for storeitem in store %}
            <div class="col-12 col-md-6 col-xl-4 mb-4">
          <div class="card lb_card p-3">
            <h5><strong>{{storeitem.item_name}}</strong></h5>
            <p class="text-secondary store_body">
              {{storeitem.item_desc}}
            </p>


          {% if request.user.is_anonymous %}
          <button class="btn btn-secondary disabled btn-block mb-2">{{storeitem.item_price}} Coins</button>
          <!-- transaction possible status -->
          <small class="text-center text-danger">You are not Logged in</small>
          {% else %}
            {% if storeitem.item_name == 'Water Your Trees' %}
            {% if request.user.deadtrees > 0 %}
                    {% if request.user.coins >= storeitem.item_price %}
                    <form action="/store" id="form3" method="POST">
                    {% csrf_token %}
                        <input type="hidden" name="hidden" value="{{storeitem.item_name}}">
                    </form>
                        <button class="btn btn_primary btn-block mb-2" onclick="document.getElementById('form3').submit();">{{storeitem.item_price}} Coins</button>
                        <small class="text-center text-success">You have sufficient coins</small>
                    {% else %}
                    <button class="btn btn-secondary btn-block mb-2" disabled>{{storeitem.item_price}} Coins</button>
                    <!-- transaction not possible status -->
                    <small class="text-center text-danger">Insufficient coins. <a href="{% url 'home' %}" class="text_primary">Earn more</a></small>
                    {% endif %}
                    {% else %}
                    <button class="btn btn-secondary disabled btn-block mb-2">{{storeitem.item_price}} Coins</button>
                <!-- transaction possible status -->
                <small class="text-center text-success">You have zero dead trees</small>
                    {% endif %}
                {% endif %}
          {% endif %}

          </div>
        </div>
        {% endfor %}
    </div>
    {% endblock body %}