::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  width: 4px;
  background: white;
}
::-webkit-scrollbar-thumb {
  background: #0d6efd;
  border-radius: 30px;
}

* {
  font-family: "Montserrat", "sans-serif";
  
}
.text_primary {
  color: #3d5aff;
}
.nav-link {
  color: #000 !important;
}
.nav-link.active {
  font-weight: bold;
}