.show_message {
  display: block;
}
#timer {
  width: 200px;
  background-color: #fff;
  height: 200px;
  border-radius: 50%;
  border: 10px solid #fff;
}
.white-text-timer {
  color: #0d6efd !important;
}
#card {
  width: 30%;
}
@media only screen and (max-width: 994px) {
  #card {
    width: 45%;
  }
}
@media only screen and (max-width: 758px) {
  #card {
    width: 90%;
  }
}