.show_message {
    display: block;
  }

  #timer {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid #ffc107;
  }

  input[type="range"]::-ms-thumb {
    background: #ffc107 !important;
  }

  input[type="range"]::-moz-range-thumb {
    background: #ffc107 !important;
  }

  input[type="range"]::-webkit-slider-thumb {
    background: #ffc107 !important;
  }

  .yellow-text-timer {
    color: #ffc107;
  }

  @media only screen and (max-width: 414px) {
    #demotime {
      font-size: 14px;
    }
  }

  @media only screen and (max-width: 375px) {
    #demotime {
      font-size: 12px;
    }
  }