* {
  font-family: "Montserrat", "sans-serif";
}
.text_primary {
  color: #3d5aff;
}
.nav-link {
  color: #000 !important;
}
.nav-link.active {
  font-weight: bold;
}
.lb_card {
  box-shadow: 0px 2px 5px 0px #ddd;
}
.lb_card:hover {
  box-shadow: 0px 2px 5px 0px #bbb;
}
.lb_username {
  font-size: 20px;
  font-weight: bold;
}
.pfp_img {
  height: 46px;
  width: 46px;
}
.btn_primary {
  background-color: #3d5aff;
  color: #fff !important;
  font-weight: bold;
}
.btn_primary:hover {
  background-color: #324ff0;
}
.store_body {
  height: 9em;
  overflow-y: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
}
